main {
    font-family: Calibri, Arial, Sans-serif;
    font-size: 24px;
    color: rgb(0, 27, 73);
}

body {
    background-image: url("../Media/Pictures/musical_blue_background.jpg");
    background-repeat: no-repeat;
    background-color: rgb(231, 240, 255);
    text-shadow: 1px -1px 0px whitesmoke;
    background-attachment: fixed;
}

body h1 {
    color: rgb(231, 240, 255);
    text-shadow: 1px 1px 2px rgb(0, 29, 78), 0 0 25px rgb(0, 204, 255), 0 0 5px rgb(0, 27, 73);
}

a[href] {
    text-decoration-line: none;
    color:rgb(0, 27, 73)
}

a:hover, a:focus {
    font-family: Wingdings;
}

.shadow {
    color: rgb(231, 240, 255);
    text-shadow: 1px 1px 2px rgb(0, 29, 78), 0 0 25px rgb(0, 204, 255), 0 0 5px rgb(0, 27, 73);
}

.shadow:hover {
    color:rgb(0, 27, 73);
    text-shadow: 1px 1px 2px rgb(231, 240, 255), 0 0 25px rgb(0, 29, 78), 0 0 5px rgb(231, 240, 255);
}